@import "./scss/nullstyle";
@import "./scss/mixins";

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5;
}

.nonScrollable{
  overflow: hidden;
}

.container{
  padding: 0 60px;
}

.wrapper{

  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 85px auto 0;
  line-height: 1.2;

}


aside{
  height: 100%;
  width: 100%; 
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}


.catalog {


  &__content{
    margin-top: 40px;
    padding-bottom: 40px;
  }

  &__header{
    @include flexbox();
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 40px 0px;
  }

  &__title{
    font-weight: 700;
    font-size: 32px;
    max-width: 500px;
  }

  &__search{
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    padding: 15px;
    padding-right: 50px;
    @include flexbox();
    position: relative;

    .clear{
      position: absolute;
      top: 50%;
      right: 15px;
      width: 12px;
      height: 12px;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      opacity: 0.5;
      @include anim(0.3s,0s);
      &:hover{
        opacity: 1;
      }
    }
    
    .search{
      padding-right: 14px;
    }

    input{
      width: 180px;
      &::placeholder{
        font-size: 14px;
        color: #C4C4C4;
      }
    }
  }

  &__cards{
    @include flexbox();
    // justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }

}